body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#haberler_h1 {
    color: firebrick;
}


.navbar {
    overflow: hidden;
    background-color: darkred;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #666;
    color: white;
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

.side {
    -ms-flex: 30%;
    /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    -ms-flex: 70%;
    /* IE10 */
    flex: 70%;
    background-color: floralwhite;
    padding: 20px;
    text-align: justify;
}


@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

* {
    box-sizing: border-box;
}

div p {
    margin-right: 150px;
}

.radius {
    border-radius: 5%;
}

/*------------------------------------------------------------*/
/*Slider css kodlari. */

@keyframes hareketsagsol {
    from {
        right: -768px;
        opacity: 0.5;
    }

    to {
        right: 0px;
        opacity: 1;
    }
}

@keyframes hareketsagsol2 {
    from {
        right: 0px;
        opacity: 1;
    }

    to {
        right: 768px;
        opacity: 0;
    }
}

#slider {

    width: 768px;
    height: 576px;
    overflow: hidden;
    position: relative;
   
}

.slayt {
    width: 768px;
    height: 576px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -768px;
    opacity: 0.5;
}

.ileri,
.geri {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(153, 153, 153, 0.5);
    text-align: center;
    font-weight: 600;
    position: absolute;
    top: 45%;
    cursor: pointer;
}

.aciklama {
    width: 100%;
    height: auto;
    padding: 10px;
    color: white;
    opacity: 0.4;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
}

.slaytsirasi ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slaytsirasi ul li {
    display: inline-block;
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: all .5s linear
}

.slaytsirasi ul li:hover {
    background-color: rgba(242, 17, 17, 0.85);
}

.aktifLi {
    background-color: rgba(242, 17, 17, 1) !important;
}

.slaytsirasi {
    position: absolute;
    top: 2px;
    left: 5px;
}

/*------------------------------------------------------------*/
