body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#haberler_h1{
    color: firebrick;    
}


.navbar {
    overflow: hidden;
    background-color:darkred;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: #666;
    color: white;
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background-color: floralwhite;
    padding: 20px;
    text-align: justify;
}


@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

* {
    box-sizing: border-box;
}

div p{
    margin-right: 150px;
}

.marginright150{
    margin-right: 150px;
}

.radius{
    border-radius: 5%;
}


